{{ attach_library('olivero_overrides/text_with_media') }}

{# Determine attributes #}
{% set width = content.field_width.0['#markup'] %}
{% set layout = content.field_layout.0['#markup'] %}
{% set focus = content.field_focus.0['#markup'] %}
{% set image_uri = content.field_media.0['#media'].field_media_image.entity.uri.0.value %}

{# Set Image Style #}
{% set image_styles = 'text_with_media__' ~ focus ~ '__' ~ width %}

{# Determine Image Style #}
{# Equal Focus #}
{% if focus == 'focus_equal' %}
  {% if width == 'feature' %}
    {% set image_style = 'text_with_media__focus_equal__feature' %}
  {% elseif width == 'highlight' %}
    {% set image_style = 'text_with_media__focus_equal__highlight' %}
  {% else %}
    {% set image_style = 'text_with_media__focus_equal__callout' %}
  {% endif %}
{# Media Focus #}
{% elseif focus == 'focus_media' %}
  {% if width == 'feature' %}
    {% set image_style = 'text_with_media__focus_media__feature' %}
  {% elseif width == 'highlight' %}
    {% set image_style = 'text_with_media__focus_media__highlight' %}
  {% else %}
    {% set image_style = 'text_with_media__focus_media__callout' %}
  {% endif %}
{# Text Focus #}
{% else %}
  {% if width == 'feature' %}
    {% set image_style = 'text_with_media__focus_content__feature' %}
  {% elseif width == 'highlight' %}
    {% set image_style = 'text_with_media__focus_content__highlight' %}
  {% else %}
    {% set image_style = 'text_with_media__focus_content__callout' %}
  {% endif %}
{% endif %}


{# {{ dd(image_style) }}
{{ dd(image_styles) }} #}

{# {{ dd(image_style) }} #}
{# {{ dd(view_mode) }} #}
{# {{ dd(paragraph_view_mode) }} #}

<div class='text-with-media-wrapper'>
  <div class='text-with-media' data-width={{ width }} data-layout={{ layout }} data-focus={{ focus }}>
    <div class='text-with-media__content'>
      <h2>{{ content.field_stories_heading }}</h2>
      <div>{{ content.field_stories_text_formatted }}</div>
    </div>
    <div class='text-with-media__media'>
      {# Just show the field (requires pre-processes) #}
      {# {{ content.field_media }} #}

      {# Select a view mode for the media entity #}
      {# {{ content.field_media.0['#media']|view(view_mode) }} #}

      {# Select a responsive image style for the image on the media entity #}
      {{ drupal_image(image_uri, image_style, responsive=true) }}
    </div>
  </div>
</div>
